

@keyframes slide-fade {
  from {
    height: 67px;
    opacity: 1;
  }
  to {
    height: 0px;
    opacity: 0;
  }
}
@keyframes slide-fadein {
  from {
    height: 0px;
    opacity: 0;
  }
  to {
    height: 67px;
    opacity: 1;
  }
}
.animation{
    animation: slide-fadein 500ms;
}
.leaveanimation{
    animation: slide-fade ease-out 400ms ;
}
